# Gradle files
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA files
.idea/
*.iws
*.iml
*.ipr
out/
.idea/workspace.xml

# VS Code settings
.vscode/

# Environment and config files
*.env
*.properties

# YAML and SQL files
*.sql

# Node.js dependencies
node_modules/
